<header class="header">
    <nav class="navbar ruban mobile pt-3 pb-2 d-md-none ">
        <button class="bars">
            <span></span>
            <span></span>
            <span></span>
            Menu
        </button>
        <a href="" class="navbar-brand text-white font-weight-bold h1"><img src="/assets/img/abk.svg" alt=""
                width="60"></a>

        <div>

        </div>
    </nav>

    <nav class="mobile-offcanvas navbar navbar-expand-md ruban">
        <div class="container-md">
            <div class="offcanvas-header d-flex align-items-center justify-content-between">
                <a href="" class="navbar-brand text-white font-weight-bold h1"><img src="/assets/img/abk.svg" alt=""
                        width="64"></a>
                <button class="bars-close p-2 d-md-none">
                    <span></span>
                    <span></span>
                    Menu
                </button>
            </div>

            <ul class="navbar-nav ml-auto mt-4 mt-md-auto">
                <li class="nav-item active"> <a class="nav-link" href="#"> Accueil</a> </li>
                <li class="nav-item"><a class="nav-link" href="#service"> Services </a></li>
                <li class="nav-item"><a class="nav-link" href="#contact"> Contact </a></li>
            </ul>
        </div>
    </nav>

</header>
