<section class="section hero">
    <div class="cover"></div>
    <div class="container">
        <div class="row flex-row-reverse align-items-center">
            <div class="col-md-4 ">
                <div class="id-tof ml-auto mr-auto">
                    <img src="/assets/img/id.png" alt="">
                </div>
            </div>

            <div class="col-md-8 pt-5">
                <h1 class="text-white text-center ">
                    AYELENOU ABAKOU
                </h1>
                <div class="skills-slide mt-4">
                    <ul>
                        <li>Ingénieur logiciel</li>
                        <li>Administrateur système</li>
                        <li>Scrum master</li>
                        <li>Developpeur Web et Mobile</li>
                        <li>Intégrateur Talend</li>
                        <li>Certifié Laravel framework</li>
                        <li>React & React native Master</li>
                    </ul>
                </div>

            </div>
        </div>

        <div>

        </div>
    </div>
</section>
